header {         
    display: flex;
    width: 100vw;
    height: auto;
    background-color: #212529;
    z-index: 3;
    opacity: 0.8;
    position: sticky;
    right: 0;
    left: 0;
    top:0;

    nav {
        display: flex;
        align-items: center;
        width: 100%;
        
        .logo {
            margin-left: 1rem;
            margin-right: auto;

            img {
                max-height: 60px;
                max-width: auto;
            }
        }
             
        ul {
            margin-right: 2rem;

            li {
                display: inline-block;
                margin-right: 1rem;
                padding: 0.5rem;
                }
    
            a {
                text-transform: uppercase;
            }
    
            a:hover {
                color: red;
            }
        }
    }

    .hamburgerContainer {
        width: 100%;
        z-index: 3;
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
        display: block;

        .logo {
            margin-left: 1rem;

            img {
                margin-top: 0.8rem;
                max-height: 60px;
                max-width: auto;
            }
        }

        .menu-btn {
            display: none;
        }

        .menu-icon {
            cursor: pointer;
            float: right;
            position: relative;
            user-select: none;
            padding: 15px 10px;
            margin-top: 1.5rem;
            margin-right: 3rem;
            width: 50px;
            border: 2px solid #495057;
            border-radius: 5px;
            z-index: 3;

            .navicon {
                background: #495057;
                display: block;
                height: 3px;
                transition: background 0.2s ease-out;                       
            }

            .navicon::before {
                top: 7.5px;
            }

            .navicon::after {
                top: -10px;
            }

            .navicon::before,
            .navicon::after {
                background: #495057;
                content: '';
                display: block;
                height: 100%;
                position: relative;
                transition: all 0.2s ease-out;
            }
        }

        .menu {
            clear: both;
            max-height: 0;
            transition: max-height 0.2s ease-out;
            background-color: #212529;
            opacity: 1;
            overflow: hidden;
            margin-top: 0.2rem;

            li {
                margin-top: 0.5rem;
                margin-left: 1rem;
                text-transform: uppercase;
            }
        }

        .menu-btn:checked ~ .menu {
            position: relative;
            width: 100%;
            max-height: 250px;
          }

        .menu-btn:checked ~ .menu-icon  {
            background: #eb315a;
        }
    }
    
    @media screen and (min-width: 900px) {
        .hamburgerContainer {
            display: none;
        }
    }
    
    @media screen and (max-width: 900px) {
        nav {
            display: none;
        }

        .hamburgerContainer {
            flex: 1;
        }      
    }
}